.card 
    background-color #fff
    box-shadow soft-shadow
    display flex 
    flex-direction column 
    min-height 5em
    min-width 80%
    max-width 90%
    padding 0.8em
    .card-header, .card-body, .card-footer
        margin 0.4em auto
        width 98% 
    .card-header
        h1, h2 
            font-family fira
            text-align center
            text-transform uppercase
        h1
            font-size 2.4em     
    .card-body 
        img
            margin 3em 13em         
            width 50%
