* 
    box-sizing 0
    clear both
    line-height 1.2
    margin 0
    padding 0
    midia= "img, audio, iframe, video"
    {midia}
        display inline-block
        width 100%
    body 
        background-color #eee
    decor="a, a:hover"
    {decor}
        text-decoration none 
    li
        list-style-type none            